 /* #2 #colorful #palette is:
          * Background: #F5F5F5 (GREY 100)
          * Primary Text: black

          * Primary color: #3F51B5 (INDIGO)
          * Primary color_text : white
          * Accent color: #CDDC39 (LIME)
          * Accent color_text: black
          */

        /*global styles */
        * {
            /* #2 #font #faces */
            font-family: 'Roboto','Arial', sans-serif;
            margin: 0px;
            padding: 0px;
        }

        body {
            /* #2 #colorful #background */
            background-color: #F5F5F5;
        }

        h1 {
            /* #2 #colourful #app-bar */
            background-color: #3F51B5;
            color: white;
        }

        button {
            /* #2 #colourful #plusfive */
            background-color: #CDDC39;
            color: black;
            /* #2 #font capital #letters */
            text-transform: uppercase;
        }


        /*styles for channel area*/
        ul {
            /* #2 #colorful #channelandchat */
            background-color: white;
            list-style-type: none;
        }
        ul #selected-channel{
            color: #3F51B5;
            border-left: 4px solid #3F51B5;
        }
        ul li{
            padding: 16px;
            line-height: 16px;
            height: 56px;
            box-sizing: border-box;
            border-bottom: 1px solid lightgray;
        }

        /*styles for chat area*/
        .message{
            width: 80%;
            margin-bottom: 8px;
            margin-left: 2.5%;
        }
        .message p {
            /* #2 #colorful #channelandchat */
            background-color: white;
            padding: 16px;
        }

        .message strong {
            /* #2 #font #locations need an extra element, we'll use strong for w3w locations */
            text-transform: uppercase;
        }

        .message h3 {
            /* #2 #font #metadata is now medium */
            font-size: medium;
        }

        .message em {
            /* #2 #font #remaining overrides the default italic appearance of em elements*/
            font-size: larger;
            font-style: normal;
        }
    
        .message a{
            color: black;
        }
        .own{
            margin-left: 17.5%;
        }
        /*tab bar*/
        #tab-bar .button-style{
            font-size: 13px;
            background-color: white;
            border: none;
            height: 72px;
            padding: 16px;
            width: 33%;
            box-sizing: border-box;
        }
        .image-tab-bar{
            display: block;
            margin: auto;
            padding-bottom: 4px;
        }
        #tab-bar{
            background-color: white;
        }
        #tab-bar .selected{
            color: #3F51B5;
            border-bottom: 4px solid #3F51B5;
        }
